!!!
%html
  %head
    %title Crisply Challenge
    = stylesheet_link_tag "application", :media => "all"
    -#%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => 'text/javascript'}

    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .banner
        %p
          Crisply Programming Challenge
      = yield
